{% extends "MaxcraftDefaultBundle:Others:layout.html.twig" %}

{% block title %}Admin - Editer Section {{ section.title }}{% endblock %}

{% block corps %}
    <div class="section">
        <h1>Editer une section</h1>

        <form class="form" method="POST" action="" >

            <label>Titre<span class="input_r">Le titre est affiché dans un h1 (= taille la plus importante pour un titre).</span></label>
            {{ form_widget(form.title) }}

            <label>Contenu<span class="input_r">Le contenu de la section (html).</span></label>
            {{ form_widget(form.content) }}
            <br/>
            <label>Page du guide<span class="input_r">La page ou sera affichée la section.</span></label>
            {{ form_widget(form.page) }}

            <label>Ordre<span class="input_r">Ordre par rapport aux autres sections.</span></label>
            {{ form_widget(form.ordervalue) }}

            <label>Publication<span class="input_r">Si oui la section est affichée dans la page.</span></label>
            {{ form_widget(form.display) }}


            {{ form_widget(form) }}

            <input style="display: block;width: 200px;  margin-bottom:10px;" type="submit" value="Enregistrer la section" class="button-bevel green"/>

        </form>


    </div>

    <div class="section guidesection">
        <h1>Aperçu : {{ section.title }}</h1>

        {{ section.content|raw }}
    </div>
{% endblock %}