<html>
    <head>
        <title>Maxcraft - {% block title %}{% endblock %}</title>

        <link rel="stylesheet" media="screen" type="text/css" title="css" href="{{ asset('css/style.css') }}"/>
        <link rel="stylesheet" media="screen" type="text/css" title="css" href="{{ asset('css/pictogram-button.css') }}"/>
        <link rel="stylesheet" media="screen" type="text/css" title="css" href="{{ asset('css/items.css') }}"/>
        <link rel="stylesheet" href="{{ asset('js/sceditor/minified/themes/default.min.css') }}" type="text/css" media="all" />
        <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}" />
        <link href='http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Pirata+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>

        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
        <script src="{{ asset('js/volet.js') }}"></script>
        <script src="{{ asset('js/jqFancyTransitions.1.8.js') }}"></script>
        <script src="{{ asset('js/slider.js') }}"></script>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-27800657-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

        {% block js %}{% endblock %}
    </head>

    <body>

        {{ render(controller("MaxcraftDefaultBundle:Default:header")) }}

        <div id="bar"></div>
        <div id="page">
        {{ render(controller("MaxcraftDefaultBundle:Default:menu")) }}

        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ render(controller("MaxcraftDefaultBundle:Security:login")) }}
        {% endif %}

        <div id="corps" style="min-height:800px">

            {% set alert = app.session.flashbag.get('alert')  %}
            {% if alert %}
                <div class="message">
                    {% for flashMessage in alert %}
                        {{ flashMessage|raw }}<br/>
                    {% endfor %}
                </div>
            {% endif %}

            {% set info = app.session.flashbag.get('info')  %}
            {% if info %}
                <div class="message" style="background-color:rgba(0, 204, 0, 0.66);">
                    {% for flashMessage in info %}
                        {{ flashMessage|raw }}<br/>
                    {% endfor %}
                </div>
            {% endif %}


            {% block corps %}{% endblock %}
        </div>
        <div style="clear: both;height:20px;"></div>
        </div>
        <div id="footer">

            <span style="font-family: 'Pirata One', cursive; font-size:18px; font-weight:400;" >Maxcraft.fr</span> - Reproduction interdite<br/>
            Site réalisé par Lu27600 (skype : lu27600) et Titi_Fr (HTML), d'après le model de Babawy
            <br/>
            Votez pour <a href="http://www.mcserv.org/Maxcraftfr_7429.html">le serveur</a> sur <a href="http://www.mcserv.org/">McServ.org</a>
            <br/><a href="http://www.serveur-minecraft.eu/">Serveur Minecraft (.eu)</a>

        </div>

    </body>

</html>